{% extends "vendor_base.html" %}
{% load static %}
{% block title %} Vertex{% endblock title %}
{% block role %}Vendor- {{request.user}}{% endblock role %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
  
  var selectedDate=""
  
  function formatDate(dateString) {
    const parts = dateString.split('-');
    const year = parts[0];
    const month = parts[1].padStart(2, '0');
    const day = parts[2].padStart(2, '0');
  
    return `${day}/${month}/${year}`;
  }
    
$(document).ready(function() {


  $('#filterDate').change(function() {
    const selectedDate = $(this).val();
    // Your logic to filter data based on selectedDate goes here
    const date= formatDate(selectedDate);
    console.log("Selected date:", date);  // Example placeholder
    document.getElementById("date-container").innerHTML = "Bookings for "+date ;
  });
  });

</script>


<div class="container-fluid">
    <!--  Row 1 -->
    <div class="row">
      <a class="mb-3" href="export" style="width:auto"><button class="btn btn-primary" style="float:left;background-color:#333;border-color:#333">Export All</button></a>
      <div class="col-lg-12 d-flex align-items-stretch mt-5 m-auto">
        <div class="card w-100">
          <div class="card-body p-1">
            <div class="row mb-3">
              <h5 class="card-title fw-semibold mb-4 pt-2 pb-2 col-9 m-auto" style="font-size:20px" id="date-container">Today Booking's</h5>
              <div class="col-3 date-filter ">
                <input  type="date" value="" id="filterDate" style="cursor:pointer;border-radius:5px;padding:2px"/>
                <input  type="button" onClick="getAllBookings()" value="View All" id="viewAll" class="btn btn-primary" style="background-color: #f76b07;padding: 3px;border-color: #f76b07;margin-left:10px"/>
              </div>
            </div>         
            <div class="table-responsive">
              <table class="table text-nowrap m-0 align-middle text-center" id="bookingsTable">
                <thead class="text-dark fs-4">
                  <tr>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Sr.No</h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Name</h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Contact</h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Company</h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Interested</h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Time</h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Date</h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">status</h6>
                    </th>
                    <th class="border-bottom-0">
                        <h6 class="fw-semibold mb-0">Accept</h6>
                      </th>
                    
                      <th class="border-bottom-0">
                        <h6 class="fw-semibold mb-0">Reject</h6>
                      </th>
                  </tr>
                </thead>
                <tbody>
                  {% for b in bookings %}
                    <tr>
                      <td class="border-bottom-0"><h6 class="fw-semibold mb-0 fs-3"></h6>{{forloop.counter}}</h6></td>
                      <td class="border-bottom-0">
                          <p class="fw-semibold mb-1 fs-3">{{b.visitor.first_name}} {{b.visitor.last_name}}</h6>
                      </td>
                      <td class="border-bottom-0">
                          <p class="fw-semibold mb-1">{{b.visitor.contact}}</h6>
                      </td>
                      <td class="border-bottom-0">
                          <p class="fw-semibold mb-1">{{b.visitor.company}}</h6>
                      </td>
                      <td class="border-bottom-0">
                          <p class="fw-semibold mb-0 fs-3">{{b.interest}}</h6>
                      </td>
                      <td class="border-bottom-0">
                          <p class="fw-semibold mb-0 fs-3">{{b.time}}</h6>
                      </td>
                      <td class="border-bottom-0">
                        <p class="fw-semibold mb-0 fs-3">{{ b.date}}</h6>
                          {% comment %} <h6 class="fw-semibold mb-0 fs-4">{{\Carbon\Carbon::parse($v->created_at)->format('d-m-Y') }}</h6> {% endcomment %}
                      </td>
                      <td class="border-bottom-0">
                          <p class="fw-semibold mb-0 fs-3">{{b.status}}</h6>
                      </td>
                      <td class="border-bottom-0">
                        <p class="mb-1 fw-4 fs-3 "><a href="{% url 'accept_user_booking' b.id %}" class="btn btn-primary fs-2 ">Accept</a></p>
                      </td>
                      <td class="border-bottom-0">
                        <p class="mb-1 fw-4 fs-4 "><a href="{% url 'reject_user_booking' b.id %}" class="btn btn-danger fs-2">Reject</a></p>
                      </td>
                    </tr>
                  {% endfor %}
                  {% comment %} @endforeach {% endcomment %}
                </tbody>
              </table>



              <script type="text/javascript">

                function addData(bookings) {
                  const bookingsTable = document.getElementById('bookingsTable');
                  const tbody = bookingsTable.querySelector('tbody');  // Cache tbody element
                  
                  console.log("DATA : ",typeof(bookings))
                  console.log("DATA : ",bookings)
                  console.log("inside filter ")
                  tbody.innerHTML = '';  // Clear existing table rows
                   
                    var count=1;
                    for(booking of bookings){
                
                    const tableRow = document.createElement('tr');
                        
                    // Add booking data cells to the table row (replace with your data)
                    const srNoCell = document.createElement('td');
                    srNoCell.textContent = count+"";  // Assuming a 'counter' property for Sr. No
                    tableRow.appendChild(srNoCell);

                    const nameCell1 = document.createElement('td');
                    nameCell1.textContent = `${booking[1]} ${booking[2]}`;
                    nameCell1.classList.add('fw-semibold','mb-0','fs-3');
                    tableRow.appendChild(nameCell1);

                    const nameCell2 = document.createElement('td');
                    nameCell2.textContent = `${booking[3]}`;
                    nameCell2.classList.add('fw-semibold','mb-0','fs-3');

                    tableRow.appendChild(nameCell2);

                    const nameCell3 = document.createElement('td');
                    nameCell3.textContent = `${booking[4]}`;
                    nameCell3.classList.add('fw-semibold','mb-0','fs-3');
                    tableRow.appendChild(nameCell3);
                    
                    const company = document.createElement('td');
                    company.textContent = `${booking[5]}`;
                    company.classList.add('fw-semibold','mb-0','fs-3');
                    tableRow.appendChild(company);
                    
                    const nameCell4 = document.createElement('td');
                    nameCell4.textContent = `${booking[6]}`;
                    nameCell4.classList.add('fw-semibold','mb-0','fs-3');
                    tableRow.appendChild(nameCell4);

                    const nameCell5 = document.createElement('td');
                    nameCell5.textContent = `${booking[7]}`;
                    nameCell5.classList.add('fw-semibold','mb-0','fs-3');
                    tableRow.appendChild(nameCell5);

                    const nameCell6 = document.createElement('td');
                    nameCell6.textContent = `${booking[8]}`;
                    nameCell6.classList.add('fw-semibold','mb-0','fs-3');
                    tableRow.appendChild(nameCell6);

                    const nameCell7 = document.createElement('td');
                    // Create anchor element with href and class
                    const acceptLink = document.createElement('a');
                    acceptLink.href = "/vendor/home/users_bookings/accept/"+`${booking[0]}`; // Replace with your actual URL template tag logic
                    acceptLink.classList.add('btn', 'btn-primary', 'fs-2'); // Add multiple classes
                    acceptLink.textContent = 'Accept'; // Set the link text

                    // Create paragraph element with class
                    const paragraph = document.createElement('p');
                    paragraph.classList.add('mb-1', 'fw-4', 'fs-3'); // Add multiple classes
                    
                    // Append the link to the paragraph
                    paragraph.appendChild(acceptLink);

                    // Append the paragraph to the td element
                    nameCell7.appendChild(paragraph);

                    // Add the td element to the table row
                    tableRow.appendChild(nameCell7);

                    const nameCell8 = document.createElement('td');
                    // Create anchor element with href and class
                    const acceptLinkR = document.createElement('a');
                    acceptLinkR.href = "/vendor/home/users_bookings/reject/"+`${booking[0]}`; // Replace with your actual URL template tag logic
                    acceptLinkR.classList.add('btn', 'btn-danger', 'fs-2'); // Add multiple classes
                    acceptLinkR.textContent = 'Reject'; // Set the link text

                    // Create paragraph element with class
                    const paragraphR = document.createElement('p');
                    paragraphR.classList.add('mb-1', 'fw-4', 'fs-3'); // Add multiple classes
                    
                    // Append the link to the paragraph
                    paragraphR.appendChild(acceptLinkR);

                    // Append the paragraph to the td element
                    nameCell8.appendChild(paragraphR);

                    // Add the td element to the table row
                    tableRow.appendChild(nameCell8);

                                  
                  
                    // ... add more cells for other booking data

                    tbody.appendChild(tableRow);
                    count+=1;
                    } 
    

                }
                
                $('#filterDate').change(function() {
                  const selectedDate = $(this).val();
                  const date= formatDate(selectedDate);
                  $.ajax(
                {
                    type:"GET",
                    url: "/api/booking/bydate",
                    data:{
                             selectedDate: date
                    },
                    success: function( data ) 
                    {
                      bookings= data.context
                      addData(bookings);
                    }
                 })
                  //console.log("Selected date:", date);  // Example placeholder
                  //document.getElementById("date-container").innerHTML = date+" - Bookings" ;
                });

                function getAllBookings() {
                  $.ajax(
                  {
                      type:"GET",
                      url: "/api/bookings",
                      data:{},
                      success: function( data ) 
                      {
                        console.log("inside view all api")
                        bookings= data.context
                        addData(bookings);
                      }
                  })
                  document.getElementById("date-container").innerHTML = "All Bookings" ;
                }
                

               
            </script>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">

      </div>
    </div>

{% endblock content %}